@import 'dropzone/dist/dropzone.css';
/*@import 'vue-datepicker-next/index.css';*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-base {
        @apply form-builder-text-base form-builder-block form-builder-w-full form-builder-rounded-lg form-builder-border form-builder-border-gray-300 !form-builder-border-double placeholder:form-builder-text-gray-400 focus:form-builder-border-sky-300 focus:form-builder-ring focus:form-builder-ring-sky-200/50 form-builder-py-2 form-builder-px-3;
    }
}

.v-form {
    .fields {
        @apply form-builder-space-y-4 form-builder-pb-6;

        .v-field {
            @apply form-builder-text-sm;

            label {
                @apply form-builder-mb-1.5 form-builder-inline-block form-builder-font-medium form-builder-text-gray-700;
            }

            .v-datepicker {
                .mx-input-wrapper {
                    input {
                        @apply form-builder-h-[42px];
                    }
                }
            }

            .-options {
                @apply form-builder-flex form-builder-flex-col form-builder-gap-2 form-builder-mt-1.5;

                label {
                    @apply form-builder-flex form-builder-items-center;

                    span {
                        @apply form-builder-pl-2 form-builder-text-base;
                    }

                    input {
                        @apply form-builder-h-5 form-builder-w-5 form-builder-text-brand-700 form-builder-border-gray-300 form-builder-rounded focus:form-builder-ring-brand-700 focus:form-builder-ring-2;
                    }
                }
            }
        }

        .-type-file-upload {
            @apply form-builder-w-full form-builder-relative;
        }

        .dropzone {
            @apply !form-builder-p-0 form-builder-relative;
            .placeholder {
                @apply form-builder-z-0 form-builder-absolute form-builder-top-1/2 form-builder-left-1/2 form-builder-transform form-builder--translate-x-1/2 form-builder--translate-y-1/2 form-builder-flex form-builder-justify-center form-builder-items-center form-builder-flex-col form-builder-cursor-pointer form-builder-space-y-3;
                div:nth-child(2) {
                    @apply form-builder-text-center;

                    p {
                        span:nth-child(1) {
                            @apply form-builder-text-brand-700 form-builder-text-sm form-builder-font-semibold;
                        }

                        span:nth-child(2) {
                            @apply form-builder-text-gray-600 form-builder-text-sm;
                        }
                    }

                    span {
                        @apply form-builder-text-gray-600 form-builder-text-xs;
                    }
                }

                div:nth-child(1) {
                    @apply form-builder-h-10 form-builder-w-10 form-builder-text-gray-400 form-builder-border form-builder-border-gray-200 form-builder-rounded-lg form-builder-shadow-sm form-builder-flex form-builder-items-center form-builder-justify-center;
                }
            }
        }
        .dz-message {
            @apply form-builder-flex form-builder-justify-center form-builder-w-full form-builder-z-10 form-builder-m-0 form-builder-py-8 form-builder-cursor-pointer;
        }
    }

    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="tel"],
    [multiple],
    textarea,
    select {
        @apply form-builder-input-base;
    }
}
